npm-debug.log

node_modules/.bin/
node_modules/babel/
node_modules/bower/
node_modules/echarts/
node_modules/inquirer/
node_modules/regularjs/
!node_modules/bower-dependency-tree

.DS_Store

# IntelliJ files
*.iml
.idea/
*.ipr
*.iws

cqh.md
